@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  margin-left: 100px;
}

.logo img {
  height: 60px;
  margin-right: 10px;
}

.logo h2 {
  color: #333;
  font-size: 24px;
}

h3 {
  color: #ec4635;
  text-align: center;
  margin-bottom: 20px;
}

form {
  margin-bottom: 20px;
  animation: fadeIn 1s ease-in-out;
}

.input-field {
  position: relative;
  margin-bottom: 15px;
  animation: inputFieldAnimation 0.5s ease-in-out forwards;
}

.input-field input {
  width: 100%;
  padding: 10px 10px 10px 35px;
  border: 1px solid #8d45d5;
  border-radius: 15px;
  outline: none;
}

.input-field img.icon-image {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%) translateX(20%);
  height: 15px;
  animation: shake 0.5s ease-in-out 1s forwards,
    moveOnly 0.5s ease-in-out 1.5s forwards;
}

/* .input-field:hover img.icon-image {
  animation: shake 0.5s ease-in-out forwards;
} */

.checkbox {
  margin-bottom: 15px;
}

.checkbox input[type="checkbox"] {
  margin-right: 5px;
}

.checkbox label {
  font-size: 14px;
  color: #666;
}

.register-btn {
  width: 100%;
  padding: 10px;
  background-color: #ec4635;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

p {
  text-align: center;
  margin-bottom: 10px;
  color: #666;
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.social-icons a {
  margin: 0 10px;
  border: 1px solid #8d45d5;
  border-radius: 10px;
  padding: 5px;
  display: inline-block;
}

.social-icons img {
  height: 30px;
  display: block;
}

.login-link {
  text-align: center;
}

.login-link a {
  color: #ec4635;
  text-decoration: none;
}

h3.bold-text {
  color: #ec4635;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 700;
}

.checkbox {
  margin-bottom: 10px;
  text-align: center;
}
.checkbox input[type="checkbox"] {
  margin: 0;
  transform: scale(0.83) translateY(20%);
}

.checkbox label {
  font-size: 10px;
  color: #666;
}

.register-btn {
  width: 100%;
  padding: 10px;
  background-color: #ec4635;
  color: #fff;
  border: none;
  border-radius: 2cap;
  cursor: pointer;
  font-size: 16px;
}

/* Keyframes for input field animation */
@keyframes inputFieldAnimation {
  0% {
    transform: translateY(-5px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Keyframes for form fade-in effect */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Updated keyframes for shake animation */
@keyframes shake {
  0%,
  100% {
    transform: translateY(-50%) translateX(0);
  }
  25%,
  75% {
    transform: translateY(-50%) translateX(-1px);
  }
  50% {
    transform: translateY(-50%) translateX(1px);
  }
}

@keyframes moveOnly {
  0% {
    transform: translateY(-50%) translateX(-1px);
  }
  100% {
    transform: translateY(-50%) translateX(20%);
  }
}
