@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

/* General Styles */
body {
  font-family: "Poppins", sans-serif;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  animation: fadeIn 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
}

/* Navbar Styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  background-color: #f2f2f2;
  position: sticky;
  top: 0;
  z-index: 1;
}

.nav-left,
.nav-right {
  display: flex;
  align-items: center;
}

.nav-icon {
  font-size: 20px;
  margin: 0 5px;
}

.nav-center {
  font-weight: bold;
}

/* Main Content Styles */
.content {
  padding: 5px 15px;
  display: flex;
  flex-direction: column;
}

.card {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.5);
  max-width: 500px;
  width: 100%;
  overflow: hidden;
  animation: slide-up 0.5s ease-out;
  margin-bottom: 20px;
}

.card-header {
  background-color: rgb(236, 70, 53);
  color: #fff;
  padding: 16px;
  display: flex;
  align-items: center;
}

.card-image {
  height: 80px;
  width: 120px;
  background-color: #ddd;
  margin-right: 16px;
  border-radius: 10px;
  overflow: hidden;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.card-title {
  margin: 0;
  font-size: 24px;
}

.expand-btn {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.expand-btn:hover {
  transform: rotate(180deg);
}

.card-meta {
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
}

.meta-item {
  margin-right: 16px;
  display: flex;
  align-items: center;
}

.meta-item i {
  margin-right: 4px;
}

.card-content {
  display: flex;
  flex-direction: column;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.3s ease-in-out, max-height 0.3s ease-in-out;
}

.card-content.expanded {
  opacity: 1;
  max-height: 500px;
}

.card-map {
  height: 300px;
  background-color: #eee;
}

.card-footer {
  background-color: rgba(245, 245, 245, 0.8);
  backdrop-filter: blur(10px);
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-actions {
  display: flex;
}

.action-btn {
  background-color: transparent;
  border: none;
  color: #ec4635;
  font-size: 24px;
  cursor: pointer;
  margin-left: 16px;
  transition: color 0.3s ease-in-out;
}

.action-btn:hover {
  color: #d63031;
}

.start-running-btn {
  background-color: #ec4635;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.start-running-btn:hover {
  background-color: #d63031;
}

/* AR Run Button Styles */
.ar-run-button {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #ec4635;
  display: flex;
  flex-direction: column;
  color: #fff;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-20%);
}

.ar-run-button img {
  width: 40px;
  height: 40px;
}

/* Nav Buttons Styles */
.nav-buttons {
  display: flex;
  justify-content: space-around;
  background-color: #a7a6a6;
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  align-items: center;
  z-index: 999;
}

.nav-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #333;
  font-size: 12px;
}

.nav-button:last-child {
  margin-right: 0;
}

.nav-button img {
  width: 20px;
  height: 20px;
  margin-bottom: 5px;
}

/* Modal Styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: rgba(59, 59, 59, 0.8);
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 10px;
  position: relative;
  width: 100%;
  height: 100%;
  animation: slide-down 0.5s ease-in-out;
  z-index: 1;
}

.modal-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin-top: 20px;
  background-color: #ec4635;
  padding: 10px;
  border-radius: 10px;
}

.modal-option {
  border-radius: 10px;
  font-size: 10px;
  padding: 10px 20px;
  background-color: #fff !important;
  color: rgb(5, 5, 5);
  border: 2px solid transparent;
  cursor: pointer;
  margin-bottom: 10px;
}

.modal-option:focus {
  background-color: #ec4635 !important;
  color: #fff;
  border: 2px solid #fff;
}

.close-btn {
  color: #fff;
  font-size: 30px;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
  color: #ec4635;
}

/* Animation Keyframes */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
